/* auth.css */

/* Set the font and background color for the page */
body {
    font-family: serif;
    background-image: url("/Users/smoke/Desktop/CS411group1/FrontEnd/Images/Background photo for auth.jpg");
    background-size: cover;
}


h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px #301934;
    font-size: 60px;
    /* color: #583f74; */
    color: #fffdd0;
}

p {
    text-align: center;
    font-size: 22px;
    color: #fffdd0;
    padding-top: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px #301934;
}

/* Set the styles for the Google sign-in button */
.google-sign-in {
    display: block;
    margin: 0 auto;
    background-color: #FFFDD0;
    color: #301934;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .google-sign-in:hover {
    transform: scale(1.3);
    background-color: #583f74;
    color: #FFFDD0;
  }
  
  
  

